*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 5, 42);
    color: white;
    height: 80px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.hand-sign {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 10px;
    cursor: pointer;
}
.rock {
    overflow: hidden;
    object-fit: contain;
}
.hand-sign img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.hand-sign img:hover {  
    border: 5px solid black;
    /* object-fit: cover; */
}

.scores{
    display: flex;
    justify-content: center;
    gap: 4rem;
    text-align: center;
    margin-top: 3rem;
}

.marks {
    font-size: 3rem;
}

.nameMarks {
    font-size: 1.4rem;
}

.your-move {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bolder;
    width: 100%;
}

.pick-move {
    height: 70px;
    width: 250px;
    background-color: rgb(3, 3, 29);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.pick-move-paper{
    height: 70px;
    width: 800px;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.pick-move-scissor{
    height: 70px;
    width: 800px;
    background: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

